
.cantainer{
  float: left;
  display: grid;
  grid-template-columns: repeat(5, 1dr);
  grid-template-rows: repeat(3, 100px);
  grid-auto-rows: 200px;
  grid-auto-flow: column;
  border: 10px solid red;
}

.item{
  border: 10px solid;
  font-size:  40px;
}
.item:nth-child(3){
  grid-column: 7 / 8;
  grid-row: span 2;
}
