.main-visual{
  background-image: url('../images/main_visual.jpg');
  background-size:cover;
  background-position:center;
}
.main-visual p{
  font-size:60px;
}
header{
  height:60px;
}
header #logo{
  width:112px;
  height:auto;
  top:18px;
  left:30px;
}
header .menubar{
  top:25px;
  right:40px;
}
.menu{
  width:30%;
}
.menu-bg{
  height:891px;
  top:60px;
}
/* INFO */
.wrapper{
  margin-bottom:100px;
}
.info{
  width:800px;
  margin:auto;
}
.info img{
  width:800px;
  height:600px;
}

/* MEMBERS */
.members{
  height:444px;
}
.members .fact{
  padding-top:110px;
  font-size:35px;
}
.members .tri{
  height:444px;
  right:-200px;
}

/* GUIDE */
.guide{
  display:none;
}

/* footer */
footer .inner{
  width:980px;
}
footer .foot-menu li a{
  font-size: 16px;
}
footer .foot-info{
  display:flex;
  justify-content: space-between;
  font-size:12px;
}
footer .foot-info > div{
  padding-right:100px;
}

/* DOWNLOAD */
.download{
  width:390px;
  height:90px;
}
.download .banner{
  height:90px;
}
.download img{
  width:60px;
  height:60px;
  top:calc(50% - 30px);
  left:20px;
}
.download span{
  height:90px;
  font-size:20px;
  line-height:90px;
}
.download span::after{
  right:-30px;
}