/* COMMON */
* {
  box-sizing: border-box;
  font-family: 'Google Sans', 'sans-serif';
}
@font-face {
  font-family: 'Google Sans';
  src: url(../assets/fonts/google_sans_mono.woff) format('opentype');
}
a {
  display: block;
  text-decoration: none;
}
:root {
  --vh: 7.52px;
}
/* SIDEBAR */
.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #eff3fa;
  overflow-y: auto;
  font-family: 'Google Sans';
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 88px;
  margin-top: 20px;
}
.link-section {
  width: 80px;
  margin: -2px auto 14px;
  padding: 2px;
  cursor: pointer;
}
.link-section > .material-symbols-outlined {
  margin-bottom: 4px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  font-variation-settings: 'wght' 400 'opsz' 24;
  border-radius: 16px;
}
.link-title {
  text-align: center;
  font-variation-settings: 'GRAD' 125;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 16px;
  margin: 0 0 4px;
}
.dark-mode-outer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.dark-mode__inner-container {
  width: 48px;
  height: 48px;
  border: 2px solid transparent;
  border-radius: 32px;
  outline: 1px solid #747775;
  cursor: pointer;
}
.dark-mode--switch {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  margin-left: -1px;
}
/* PAGE */
.page-content {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  min-height: (100vh-64px);
  overflow-y: auto;
  padding-left: 88px;
}
.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 8px 8px 0;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-container {
  width: 100%;
  max-width: 1760px;
}
.header-container-grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}
.primary-container {
  background-image: url(../assets/images/primary-container-background.jpg);
  grid-column: span 2;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 544px;
  margin: 0;
  padding: 56px;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  border-radius: 24px;
}
.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: 'Google Sans';
}
.wrapper .primary-container--title {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.primary-container-header {
  font-size: 112px;
  margin: 0 0 8px;
}
.primary-container--description {
  font-size: 22px;
}
.button-container {
  display: grid;
  width: 100%;
  margin-top: 24px;
  grid-gap: 8px;
}
.button-container-inner {
}
.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.btn-inner {
  position: relative;
  height: 80px;
  padding: 0 48px;
  border-radius: 48px;
  outline: none;
  border: transparent;
  background-color: #0b57d0;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.btn-content {
  position: relative;
  z-index: 1;
  font-size: 24px;
}
