nav {
  display: flex;
}

ul.main-menu {
  display: flex;
  list-style: none;
}
ul.main-menu > li {
  margin: 30px;
}
ul.sub-menu {
  display: flex;
  list-style: none;
}
ul.sub-menu > li {
  margin: 30px;
}

li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
.logo {
  background-color: brown;
  width: 100px;
  height: 100px;
}
.logo:hover {
  background-color: blue;
}
