html, body, main { 
  scroll-behavior: smooth !important;
  text-decoration: inherit;
}

*{
  list-style: none;
  text-decoration: inherit;
}



body{
  font-size: 16px;
  color: #7d7d7d;
  font-family: 'NSKR', '맑은 고딕';
  line-height: 1;

} 


img{
  display: block;
}

a {
  text-decoration: none;
}

.inner{
  width: 100%;
  background-color: #fff;
}


/* HEADER */
header{
  position: relative;
  padding-top: 20px;
  width: 100%;
  background-color: #fff;
}


header .header_wrap{
  display: flex;
  position: relative;
  width: 1180px;
  height: 117px;
  margin: 0 auto;

}


header .header_logo{
  position: absolute;
  height: 53px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

header .header_wrap .sub_menu {
  width: 100%;
  height: 17px;
}


header .header_wrap .sub_menu .menu{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 17px;
  white-space: nowrap;
  margin-top: 2px;
}



header .header_wrap .sub_menu .menu img{
  display: inline;
  margin-right: 3.4px;
}



header .header_wrap .sub_menu .menu a{
  display: block;
  color: #666;
  font-size: 14.5px;
  padding-left: 12px;
  font-weight: 600;
}



header .header_wrap .main_menu_wrap {
  position: absolute;
  bottom: 35%;
  right: 26%;
}



header .header_wrap .main_menu_wrap .main_menu{
  display: flex;
}


header .header_wrap .main_menu_wrap .main_menu li a{
  font-size: 22px;
  color: #1e1e1e;
  margin-left: 76px;
  font-weight: 700;
  font-family: 'Gowun Dodum', Arial, sans-serif;
}



header .header_wrap .search_wrap {
  position: absolute;
  width: 10px;
  bottom: 31%;
  right: 18.8%;
}


header .header_wrap .search_wrap input{
  width: 150px;
  height: 35px;
  padding: 0px 5px; 
  border-radius: 5px;
  border: none;
  outline: none;
}

header .header_wrap .search_wrap input:focus{
  border: .5px solid rgba(0, 0, 0, .2);
  outline: initial;
}

header .header_wrap .search_wrap img {
  position: absolute;
  top: 17%;
  left: 120px;
}



header .header_wrap .language_select_wrap{
  position: absolute;
  bottom: 31.5%;
  right: -0.5%;
}

header .header_wrap .language_select_wrap select{
  height: 34px;
  width: auto;
  padding: 4px 10px;
  padding-top: 1px;
  padding-right: 12px;
  border-radius: 20px;
  font-family: '맑은고딕';
  color: #666;
  background-color: #f4f4f4;
  border: hidden;
  outline: hidden;
}

header .header_wrap .language_select_wrap select:focus{
  outline: 2px solid black;
}  





header .inner .main_menu_items_wrap {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 487px;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #d7d0d0;
  border-bottom: 1px solid #d7d0d0;
  z-index: 1;
  font-family: '맑은고딕';
}

header .main_menu_items_wrap .main_menu_items{
  margin-top: 25px;
}

header .main_menu_items_wrap .main_menu_items li{
  padding: 10px 33px;
  
}



header .main_menu_items_wrap .main_menu_items a{
  display: inline-block;
  color: #666;
  font-size: 16px;
  font-weight: 700;
}


header .main_menu_items_wrap .main_menu_items a:hover{
  color: #8dc63f;
  text-decoration: underline;

}




header .inner .main_menu_items_wrap .main_menu_image_wrap{
  position: absolute;
  display: flex;
  width: 100%;
  height: 135px;
  bottom: 0;
  border-bottom: 1px solid #d7d0d0;
}

header .inner .main_menu_items_wrap .main_menu_image_left{
  width: 50%;
  height: 135px;
  left: 0;
  bottom: 0;
  background-color: #ecdea1;
}

header .inner .main_menu_items_wrap .main_menu_image_left img{
  float: right;
}  



header .inner .main_menu_items_wrap .main_menu_image_right{

  width: 50%;
  height: 135px;
  right: 0;
  bottom: 0;
  background-color: #625042;
}


header .inner .main_menu_items_wrap.active{
  display: flex;
}

.home_wrap{
  background: #8dc63f;
  border-bottom: 1px solid #b7d47f;
}


.home_wrap .home_move{   
  max-width: 1180px;
  margin: 0 auto;
}

.home_wrap .home_move .home{
  display: inline-flex;
  padding: 20px 22px;
  border-left: 1px solid #b7d47f;
  border-right: 1px solid #b7d47f;
}







/* MAIN */
main{
  scroll-behavior: smooth !important;
}

#section1 .main_wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 1px;

}

#section1 .main_wrap .video{
  position: absolute;
}

#section1 .main_wrap #main_video {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  z-index: -1;
  bottom: 280px;
}

#section1 .main_wrap .icon_in_video_wrap{
  position: absolute;
  display: flex;
  top: 52%;
  left: 28%;

}

#section1 .icon_in_video_wrap .icon_in_video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

#section1 .icon_in_video_wrap .icon_in_video:hover img{
  background-color: #8dc63f;
  border-radius: 50%;
  cursor: pointer;
}


#section1 .icon_in_video_wrap .icon_in_video a{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  margin-top: 1px;
  
  
}



body::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}



#section1{
  width: 100%;
  height:100vh !important;
}


#section2{
  display: flex;
  position: relative;
  max-width: 1180px;
  width: 100%;
  height:100vh;
  margin: 0 auto;
}


#section2 .head{
  position: absolute;
  width: 500px;
  height: auto;
  font-size: 45px;
  top: 120px;
  color: #1e1e1e;
}

#section2 .head2{
  position: absolute;
  width: 600px;
  height: auto;
  font-size: 18px;
  color: #1e1e1e;
  top: 180px;
}


#section2 .main2_wrap{
  margin-top: 250px;
  background: #8dc63f;
  display: flex;
  height: 47.1%;
}


#section2 .main2_wrap a{
  display: block;
}

#section2 .main2_wrap .font{
  width: 100%;
  display: block;
}


#section2 .main2_wrap .font a{
  white-space: nowrap;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  padding: 50px;

}

#section2 .main2_wrap .font img{
  padding-top: 100px;
}



#section3{
  position: relative;
  width: 100%;
  height:100vh;
  margin: 0 auto;
  background: #ece9de;
}


#section3 .main3_wrap{  
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}


#section3 .main3_wrap .head{
  position: absolute;
  width: 500px;
  font-size: 45px;
  top: 150px;
  color: #1e1e1e;
}

#section3 .main3_wrap .head2{
  position: absolute;
  width: 600px;
  font-size: 18px;
  color: #1e1e1e;
  top: 210px;
}

#section3 .main3_wrap .main3_card_wrap{
  position: relative;
  display: flex;
  margin-top: 280px;
  width: 100%;
}

#section3 .main3_wrap .main3_card_wrap .card{
  position: relative;
  display: flex;
  width: calc(100%/3);
  height: auto;
}

#section3 .main3_wrap .main3_card_wrap .card:hover .behind_card{
  position: relative;
  width: calc(100%/3);
  z-index: 21;
  background-color: #3f3d33;
}

#section3 .main3_wrap .main3_card_wrap .front_card{
  position: relative;
  
}


#section3 .main3_wrap .main3_card_wrap .front_card img:nth-child(2){
  position: absolute;
  top: 0;
  left: 34%;
  padding-top: 180px;
  padding-right: 140px;
}


#section3 .main3_wrap .main3_card_wrap .front_card img:nth-child(2){
  position: absolute;
  z-index: 1;
}




#section3 .main3_wrap .main3_card_wrap .behind_card{
  position: relative;
  width: calc(100%/3);
  height: 100%;
  top: 0;
  z-index: -1;
}

#section3 .main3_wrap .main3_card_wrap .behind_card img{
  position: absolute;
  right: 0;
  padding-top: 180px;
  padding-right: 140px;
  z-index: 1;
}






#section4{
  position: relative;
  width: 100%;
  height:100vh;
  background: url(../images/main_bg_3.jpg);
}



#section4 .main4_wrap{  
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}


#section4 .main4_wrap .head{
  position: absolute;
  width: 500px;
  font-size: 45px;
  top: 200px;
  color: #fff;
}

#section4 .main4_wrap .head2{
  position: absolute;
  font-size: 18px;
  color: #fff;
  top: 270px;
}

.main4_banner_wrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 400px;
  margin-top: 450px;
  height: auto;
  font-size: 25px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: inherit;
}



.main4_banner_wrap .banner_card{
  padding: 60px;
  color: #fff;
}

.main4_banner_wrap .banner_card .top_img{
  border-bottom: 1px solid rgb(255,  255, 255, 1);
  padding-bottom: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: inherit;

}


.main4_banner_wrap .banner_card .top_img img{
  color: #fff;
  margin: 0 auto;
}


/* 앵커 */

#ancor {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 450px;
  right:100px;
  height: 200px;
  z-index: 99999;
}

#ancor span {
  border: 2px solid #9b8c8cfb;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;

}





/* FOOTER */

footer {
  width: 100%;
  height: 355px;
  border-top: 1px solid rgba(0, 0, 0, .5)
}

footer .footer_wrap{
  position: relative;
  width: 1180px;
  padding: 45px 0 0 0;
  margin: 0 auto;
  text-decoration: none;

}


footer .footer_wrap .footer_logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

footer .footer_wrap .footer_logo img{
  width: 107px;
}

footer .footer_wrap .footer_information{
  display: flex;
  padding-left: 21px;
  padding-top: 1px;
  justify-content: center;

}


footer .footer_wrap .footer_information span{
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  margin-right: 13px;
  padding-right: 17px;
}

footer .footer_wrap .footer_information span a{
  color: #585858;
  
}

footer .footer_wrap .footer_information span:first-child a{
  color: #004f18;
  font-weight: 700;

}

footer .footer_wrap .footer_information span:nth-child(-n+4){
  background: url(../images/ft_line.gif) no-repeat right 5px;
}

footer .footer_wrap .footer_location{
  padding: 28px;
  padding-bottom: 0;
  text-align: center;
}


footer .footer_wrap .footer_location span{
  padding-right: 8px;
}


footer .footer_wrap .footer_location span:nth-child(-n+2){
  background: url(../images/ft_line.gif) no-repeat right;
}



footer .footer_wrap .footer_location span{
  line-height: 14px;
  font-size: 15px;
  color: #585858;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

footer .footer_wrap .footer_location span:nth-last-child(1){
  background: none;
  font-size: 15px;
}

footer .footer_wrap .footer_location .copyright{
  padding-top: 12px;
  padding-bottom: 20px;
  line-height: 15px;
}


footer .footer_wrap .footer_sns{  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 62px;

}


footer .footer_wrap .footer_sns span{  
  font-size: 14px;
  padding-right: 15px;
  margin-right: 15px;
  background: url(../images/ft_arr02.gif) no-repeat right;
}


footer .footer_wrap .footer_sns li{
  padding-right: 15px;
}



footer .footer_wrap .footer_affiliate{
  width: 230px;
  height: 35px;
  font-size: 14px;
  color: #1e1e1e;
  margin-left: 45px;
  margin-right: 27px;
  padding-left: 15px;
  border: 3px solid rgba(58, 58, 58, .4);
}
footer .footer_wrap .footer_affiliate .modal:hover .mini_modal{
  display: flex;
}

footer .footer_wrap .footer_affiliate .modal .mini_modal:hover{
  display: flex;
}

footer .footer_wrap .footer_affiliate span{
  position: absolute;
  background: url(../images/ft_arr01.gif)no-repeat right;
  background-position-y: 15px;
  padding-right: 90px;
  padding-top: 11px;
}


footer .footer_wrap .footer_web{
  width: 100%;
  display: flex;
  justify-content: center;
}



footer .footer_wrap .footer_affiliate .mini_modal{
  position: absolute;
  display: none;
  width: 650px;
  font-family: '맑은 고딕';
  bottom: 26px;
  right: -12px;
  background-color: #fff;
  border: 3px solid rgba(58, 58, 58, .4);
}



footer .footer_wrap .footer_affiliate .mini_modal ul{
  
  padding: 30px;
  font-size: 20px;
}

footer .footer_wrap .footer_affiliate .mini_modal div{
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

footer .footer_wrap .footer_affiliate .mini_modal ul li{
  font-size: 15px;
  padding-top: 10px;
  
}

footer .footer_wrap .footer_affiliate .mini_modal .modal_box a{
color: #585858;
}


