body {
  margin: 0;
}

header {
  width: 100%;
  height: 58px;
}

header ul {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin: 10px;
}

header a:hover {
  text-decoration: underline;
}

header button {
  border: 0;
  background-color: transparent;
  margin-top: 10px;
}

header .google-app {
  font-size: 17px;
  color: rgb(95, 99, 104);
  /* 아이콘의 색 */
  padding: 10px 11px;
  /* hover에서 뒷배경 사이즈, 가로 세로 비율 맞추려고 10, 11 */
  border-radius: 50%;
  /* hover에서 뒷배경 원 설정 */
}

header .profile-image {
  border-radius: 50%;
  width: 35px;
  padding: 4px;
  /* hover에서 뒷배경 사이즈 */
  margin-right: 10px;
}

header .google-app:hover {
  background-color: rgb(240, 240, 240);
}

header .profile-image:hover {
  background-color: rgb(240, 240, 240);
}

.middle .logo-image {
  width: 273px;
  height: auto;
  margin: 200px 65px 24px;
  /* logo-image, search-bar 사이 간격 24px */
}

.middle .google-logo {
  max-width: 400px;
  /* 화면 크기 400px되면 끌려나온다. */
  margin: auto;
}

.middle .search-box {
  max-width: 580px;
  /* 화면 크기 작아지면 같이 작아지는 기능 구현 필요  */
  margin: auto;
}

.middle .search-bar {
  width: 390px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid rgb(225, 225, 226);
  outline: none;
  padding: 0 140px 0 48px;
  font-size: 16px;
}

.middle .search-bar:hover {
  box-shadow: 0 0 5px 1px rgb(225, 225, 226);
}

.middle .search-bar:focus {
  box-shadow: 0 0 5px 1px rgb(225, 225, 226);
}

.middle .search-icon {
  position: absolute;
  margin: 13px 17px;
  color: rgb(154, 160, 166);
  font-size: 14px;
}

.middle .keyboard-icon {
  position: absolute;
  margin: 13px 505px;
  font-size: 16px;
  color: rgb(137, 136, 136);
}

.middle .microphone-icon {
  position: absolute;
  margin: 10px 545px;
  font-size: 18px;
  color: rgb(62, 128, 234);
}

.middle .clear-btn {
  visibility: hidden;
  border: 0;
  border-right: 1px solid rgb(137, 136, 136);
  padding-right: 17px;
  background-color: transparent;
  position: absolute;
  margin: 12px 450px;
  font-size: 20px;
  color: rgb(123, 123, 123);
}

.additional-box {
  max-width: 400px;
  margin: 33px auto;
  /* search-bar, additional-box 사이 간격 33px */
}

.additional-box a {
  background-color: rgb(254, 254, 254);
  text-decoration: none;
  color: black;
  border-radius: 5%;
  padding: 9px 17px;
  /* additional-search, additional-lucky 크기 조정 */
  font-size: 14px;
}

.additional-box .additional-search {
  margin: auto 5px auto 65px;
  /* additional-search, additional-lucky 사이 간격 조정, 위치 조정 */
}

.additional-box a:hover {
  border: 1px solid rgb(254, 254, 254);
}

footer {
  position: absolute;
  /* footer 하단 고정을 위해 */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(254, 254, 254);
  height: 100px;
  display: grid;
  /* country-info, instruction 똑같은 비율로 나누기 위해 grid 사용 함 */
  grid-template-rows: 1fr 1fr;
}

footer .country-info {
  margin: 15px 30px;
  color: rgb(138, 138, 138);
  font-size: 15px;
}

footer .instruction {
  border-top: 1px solid rgb(254, 254, 254);
}

footer .instruction li {
  list-style: none;
}

footer .instruction ul {
  display: flex;
  flex-wrap: wrap;
  /* 화면 크기 작아지면 겹치게 하기 위해서 */
  margin: 14px 0px;
}

footer .left-side {
  position: absolute;
  left: 33px;
}

footer .right-side {
  position: absolute;
  right: 10px;
}

footer .instruction a {
  margin-right: 25px;
  text-decoration: none;
  color: rgb(123, 123, 123);
  font-size: 14px;
}

footer .instruction a:hover {
  text-decoration: underline;
}

@media(max-width:1200px) {
  footer .left-side {
    left: 190px;
  }

  footer .right-side {
    right: 135px;
  }
}

@media(max-width:640px) {
  footer {
    height: 130px;
    /* 아래 footer 높이 증가 */
    grid-template-rows: 1fr 2fr;
    /* 1:2로 설정, instruction의 li가 겹칠수잇음 */
  }

  footer .left-side {
    position: static;
    /* absolute면 right-side랑 안 겹쳐짐.... flex-wrap을 적용하려고 */
    margin: auto;
    /* 640px보다 작아지면 알아서 가운데에 이동 */
  }

  footer .right-side {
    position: static;
    /* absolute면 아래로 안 겹쳐짐... flex-wrap을 적용 */
    margin: 10px auto auto;
    /* left-side 아래 간격주고 나머지 margin은 auto설정으로 알아서 가운데로 이동 */
  }
}