/*_config.scss*/
$color-primary: royalblue;
$color-cream: #fdfbf7;
$color-begie: #f9f6f0;
$color-footer: #333333;
$color-bluebottle: #00a9e0;
$font-serif: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
$font-sans: Halis GR Regular, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$font-black: #545454;
$font-white: #fff;
