/*_config.scss*/
$color-primary: royalblue;
$color-cream : rgb(253, 251, 247);
$color-footer : rgb(51,51,51);
$color-bluebottle : rgb(0,169,224);
$font-serif : Chronicle Text G1 Roman,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
$font-sans : Halis GR Regular,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$font-black : #545454;
$font-white : #fff;