.category-card {
  position: relative;
  margin-top: auto;
  overflow: hidden;
  .category-card-swiper {
    width: 100%;
    svg,
    path {
      fill: $font-black;
      stroke: $font-black;
    }
  }
  .category-card-swiper:hover .swiper-btn-next:not(.swiper-button-disabled) {
    right: 0;
  }
  .category-card-swiper:hover .swiper-btn-prev:not(.swiper-button-disabled) {
    left: 0;
  }
  .swiper-wrapper {
    width: 100vw;
    .swiper-slide {
      border-left: 1px solid rgb(218, 218, 218);
      a {
        display: inline-block;
        padding: 0 3rem 3rem 2rem;
        .swiper-slide__title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          width: 100%;
          height: 140px;
          color: $font-black;
          span {
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            font-family: $font-sans;
            text-align: center;
          }
          span:first-child {
            font-size: 1.125rem;
            line-height: 1.5rem;
            // font-weight: 700;
            padding-bottom: 1.25rem;
          }
          span:nth-child(2) {
            font-size: 0.75rem;
          }
        }
      }
    }
    .swiper-slide__img {
      width: 100%;
      height: 100%;
      img {
        width: inherit;
        height: 100%;
      }
    }
  }
  .swiper-slide:first-child {
    border: none;
  }
  .swiper-btn-prev,
  .swiper-btn-next {
    position: absolute;
    top: 50%;
    max-height: 32px;
    min-width: 68px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    border: none;
    z-index: 101;
    cursor: pointer;
    svg,
    path {
      stroke-width: 0.1;
    }
  }
  .swiper-btn-next {
    right: -68px;
  }
  .swiper-btn-prev {
    left: -68px;
  }
  .swiper-btn-next::after,
  .swiper-btn-prev::after {
    content: '';
    display: none;
  }
}
