.view {
  position: relative;
  width: 100%;
  height: 100vh;
  figure {
    margin: 0;
  }
  figure div {
    position: absolute;
    top: -98px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
  }
  figure div:first-child {
    background-image: url('/public/images/main_bg_1.jpg');
  }
  figure div:nth-child(2) {
    background-image: url('/public/images/main_bg_3.jpg');
  }
  .view__content {
    position: absolute;
    width: 53%;
    bottom: 200px;
    padding-left: 8rem;
    h1 {
      font-size: 2.5rem;
      line-height: 3rem;
      color: $font-white;
      font-family: $font-serif;
      font-weight: 400;
    }
    div {
      display: flex;
      a {
        width: 50%;
        display: inline-block;
        background-color: $color-cream;
        height: 48px;
        letter-spacing: 0.1rem;
        font-size: 0.75rem;
        color: $font-black;
        text-align: center;
        line-height: 48px;
        opacity: 1;
        transition: opacity 0.1s ease-in-out;
      }
      a:hover {
        opacity: 0.5;
      }
    }
  }
  .progress {
    position: absolute;
    width: 100%;
    max-width: 100px;
    bottom: 150px;
    right: 8rem;
    div p.active {
      color: $font-white;
    }
    div p {
      font-size: 0.75rem;
      display: inline-block;
      padding-right: 0.5rem;
      color: rgba(255, 255, 255, 0.5);
    }
    #progress {
      appearance: none;
      width: 100px;
      height: 2px;
    }
    // progressbar의 배경이 되는 요소
    #progress::-webkit-progress-bar {
      background: transparent;
    }
    // progress의 진행 bar가 되는 요소
    #progress::-webkit-progress-value {
      background: $font-white;
    }
  }
}
